@using NhaDat24h.Common.Configuration
@using NhaDat24h.DataDto.Video;
@model ListVideoEdu;

@{
    int totalPage = (Model != null && Model.Listvideo.Count > 0 && Model.Total > 0) ? ((Model.Total - 1) / Model.PageSize + 1) : 0;
    int pageNumber = Model.PageIndex;
    int pageSize = Model.PageSize;
    int FromIndex = pageNumber == 1 ? 1 : (pageNumber - 1) * pageSize + 1;
    int totalCount = (Model.Listvideo.Count > 0) ? Model.Total : 0;
    int EndIndex = pageNumber == totalPage ? totalCount : pageNumber * pageSize;
}

<style type="text/css">
    .modal-content iframe {
        margin: 0 auto;
        display: block;
    }
</style>


<div class="dashboard-content dashboard-content-0">
    <div class="row p-10">
        <div id="add-data-news" class="p-0 col-xxl-8 col-xl-8 col-lg-8 col-12">
            <div id="MainDataSection">
                <div class="row">
                    @foreach (var item in Model.Listvideo)
                    {
                        <div class="bk-item mb-30 col-xxl-6 col-12">
                            <a onclick="showModelVideo(@item.Id)">
                                @*     <a data-bs-toggle="modal" data-bs-target="#watch_video_@item.Id">*@
                                <div class="main-video3" style="background: white; padding: 20px; border-radius: 5px;">
                                    <div class="blog-list-images">
                                        <img style="width:100%; height:250px;object-fit:cover; border-radius:5px 5px 0 0;" src="https://cdn.realtech.com.vn/@item.UrlImage" alt="Title">
                                    </div>
                                    <div class="video">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                    <div class="breaking-info">
                                        <div class="bk-user35 mt-1">
                                            <i class="fa-solid fa-user"></i>
                                            @item.FullName
                                        </div>
                                        <h3>@item.Title</h3>
                                        <div class="date36 align-items-center ">
                                            <div class="relate-video-date1 text-12 d-flex gap-10 align-items-center mt-1">
                                                <div class="d-flex g-5 align-items-center justify-center color-gray">
                                                    <span><i class="far fa-eye"></i></span>
                                                    <span>@item.CountView</span>
                                                </div>
                                                <div class="color-gray">|</div>
                                                <div class="bk-clock">
                                                    <i class="fa-regular fa-clock"></i>
                                                     @AppConfigs.replaceDate(Convert.ToDateTime(item.LastUpdate))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                @if (Model != null && Model.Listvideo.Count > 0 && Model.Total > 0)
                {
                    <div class="row">
                        <div class="pagintion-table mt-30">
                            <hr>
                            <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
                                <p class="mb-sm-0">
                                    Hiển thị từ
                                    <span>@FromIndex</span>
                                    đến
                                    <span>@EndIndex</span>
                                    của @Model.Total bản ghi
                                </p>
                                <div class="pagination1">
                                    <ul class="pagination text-center m-0">
                                        <li class="page-item ">
                                            <button class="page-link" onclick="SubmitSearchVideo('1', @Model.PageSize.ToString())" aria-label="Previous">
                                                <span><i class="fa-solid fa-arrow-left"></i></span>
                                                <span class="sr-only">Previous</span>
                                            </button>
                                        </li>

                                        @for (int i = 1; i <= totalPage; i++)
                                        {
                                            string active = "";
                                            if (i == pageNumber) active = "active";
                                            if (pageNumber <= 3 && i <= 5)
                                            {
                                                <li class="page-item "><button onclick="SubmitSearchVideo(@i.ToString(), @Model.PageSize.ToString())" class="page-link @active"> @i </button></li>

                                            }
                                            else if (pageNumber > 3 && i >= pageNumber - 2 && i <= pageNumber + 2)
                                            {
                                                <li class="page-item "><button onclick="SubmitSearchVideo(@i.ToString(), @Model.PageSize.ToString())" class="page-link @active"> @i </button></li>

                                            }

                                        }
                                        <li class="page-item ">
                                            <button class="page-link" onclick="SubmitSearchVideo(@totalPage.ToString(), @Model.PageSize.ToString())" tabindex="-1" aria-label="Next">
                                                <span><i class="fa-solid fa-arrow-right"></i></span>
                                                <span class="sr-only">Next</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-12">
            <div class="sidebar" style="margin-left:20px;">
                <div class="bg-white p-20" style="border-radius:5px;">
                    <div class="line-horizontal-4"></div>
                    <div class="widget categories-widget">
                        <div class="widget-title">Danh mục<span></span></div>
                        <ul class="custom mt-10">
                            @foreach (var item in Model.TypeVideo)
                            {
                                <li>
                                    <a>@item.Key<span>@item.Value</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="widget popular-tag-widget">
                        <div class="widget-title"> Từ Khóa<span></span></div>
                        <div class="tags mt-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



