@using NhaDat24h.Common.Configuration;
@using NhaDat24h.DataDto.RealEstates
@model ModelListRE
@{
    int totalPage = (Model != null && Model.realEstateDtos.Count > 0 && Model.realEstateDtos.FirstOrDefault().Total > 0) ? ((Model.realEstateDtos.FirstOrDefault().Total - 1) / Model.PageSize + 1) : 0;
    int pageNumber = Model.PageIndex;
    int pageSize = Model.PageSize;
    int FromIndex = pageNumber == 1 ? 1 : (pageNumber - 1) * pageSize + 1;
    int totalCount = (Model.realEstateDtos.Count > 0) ? Model.realEstateDtos.FirstOrDefault().Total : 0;
    int EndIndex = pageNumber == totalPage ? totalCount : pageNumber * pageSize;
}
<div class="d-flex flex-sm-row align-items-center gap-10 mb-10">
    <span>Hiển thị </span>
    <div class="dropdown dropdown-showpage">
        <a class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @pageSize
        </a>

        <ul class="dropdown-menu">
            <li><button class="dropdown-item" onclick="SubmitSearchRE('10', '1',@Model.Param.Style)">10</button></li>
            <li><button class="dropdown-item" onclick="SubmitSearchRE('20', '1',@Model.Param.Style)">20</button></li>
            <li><button class="dropdown-item" onclick="SubmitSearchRE('50', '1',@Model.Param.Style)">50</button></li>
        </ul>
    </div>
    <span>bản ghi</span>
</div>
<div class="table-user-primary">
    <table class="property-table-wrap table-2" id="table">
        <tbody>
            <tr style="white-space: nowrap;">
                <th>Thông tin dự án</th>
                <th>Liên hệ</th>
                <th>Trạng thái</th>
            </tr>
            <!-- Item #1 -->
            @if (@Model != null && Model.realEstateDtos != null)
            {
                foreach (var item in Model.realEstateDtos)
                {
                    <tr id="item-@item.Id" style="white-space: nowrap;">
                        <td class="dashboard_propert_wrapper4" style="white-space: normal;">
                            @if (item.Status == 0 || item.Status == 30)
                            {
                                <a >
                                    @if (string.IsNullOrEmpty(item.Avatar))
                                    {
                                        <img src="~/assets/img/noimage.png" alt="" />
                                    }
                                    else
                                    {
                                        <img src="https://cdn.realtech.com.vn/cdn-cgi/image/fit=cover,width=400,height=400,quality=80/@item.Avatar" alt="" />
                                    }
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Detail", "Land", new { area = "Partner", IdRE = item.Id})">
                                    @if (string.IsNullOrEmpty(item.Avatar))
                                    {
                                        <img src="~/assets/img/noimage.png" alt="" />
                                    }
                                    else
                                    {
                                        <img src="https://cdn.realtech.com.vn/cdn-cgi/image/fit=cover,width=400,height=400,quality=80/@item.Avatar" alt="" />
                                    }
                                </a>
                            }
                            <div class="title">
                                <div class="d-flex flex-column">
                                    <h4 class="uppercase f-18">
                                        @item.Name
                                    </h4>
                                    <span>@item.Nametype()</span>
                                </div>
                                <div class="d-flex gap-10 align-items-start">
                                        <span class="text-red text-bold text-16">@item.StringOfferPrice</span>
                                        <span class="text-red text-bold text-16">@Math.Round(@item.S??0, 2).ToString("G29")m<sup>2</sup></span>
                                </div>
                                <div class="d-flex gap-10 align-items-center">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>
                                        @item.Province - @item.District - @item.Wards
                                    </span>
                                </div>
                                <div class="tb-price-scroll">
                                    @foreach (var item2 in item.BangHang)
                                    {
                                        <h4 style="white-space: normal;text-transform:capitalize;color:var(--bs-blue);font-size:14px;margin-bottom:0px;">
                                            <a href="@Url.Action("viewIframe", "Dashboard" , new { a=@item2.Url})">@item2.Name</a>
                                        </h4>
                                    }
                                </div>
                                <div class="d-flex align-items-center gap-10 text-12 color-gray action-btn-land">
                                    <div class="ac-btn-hover3 d-flex g-5 align-items-center justify-center" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lượt xem">
                                        <span class="text-16">@item.CountView</span>
                                        <span class="text-16"><i class="far fa-eye"></i></span>
                                    </div>
                                    <div class="d-flex gap-10 align-items-center justify-between text-16">
                                        @if (@item.IdUser == Model.IdCtv)
                                        {
                                            <a class="ac-btn-hover2" href="@Url.Action("AddNewLandPj", "Land", new { area = "Partner", idR=@item.Id})" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sửa">
                                                <i class="fa-solid fa-pencil"></i>
                                            </a>
                                            <a class="ac-btn-hover2" onclick="DeleteRE(@item.Id)" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Xóa">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        }
                                        <a class="ac-btn-hover2" onclick="LikeRE(@item.Id)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lưu bất động sản này vào danh sách yêu thích">
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                        <div class="ac-btn-hover2 binchat" data-topicid="@item.Id" data-topicname="@item.Name" data-topicthumbnai="https://cdn.realtech.com.vn/cdn-cgi/image/fit=cover,width=400,height=400,quality=80/@item.Avatar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Chat Group: Nơi các thành viên trao đổi thông tin công khai về dự án này">
                                            <button type="button" class="bg-none border-none binchat23">
                                                <i class="fa-regular fa-comment"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div>|</div>
                                    <div class="text-16"> @AppConfigs.replaceDate(Convert.ToDateTime(item.DateCreate))</div>
                                </div>
                            </div>
                        </td>
                        <td style="text-align:center;white-space: nowrap; width:150px;" class="contact_land">
                            <a class="avtland" @*title="@item.FullName" href="https://cdn.realtech.com.vn/@item.Avatar"*@>
                                <img src="https://cdn.realtech.com.vn/@item.Uimage" @*id="Avt_@item.Id"*@ alt="">
                            </a>
                            <p class="text-14">@item.Manager</p>
                            <p class="text-12 color-gray">@item.ImplementCompany</p>
                            <a href="tel:@item.Phone" class="item-phone-land">
                                <i class="fas fa-phone-volume"></i>
                                @item.Phone
                            </a>
                        </td>

                        <td style="white-space: normal;width:150px;">
                            <div class="bg-status-@item.Status">@AppConfigs._status(@item.Status)</div>
                            @if (@item.Status == 15 || @item.Status == 30)
                            {
                                <span style="max-width: 150px;">
                                    @item.Description
                                </span>

                            }
                            @if (Model.Permission.Contains(102))
                            {
                                <hr>
                                <select onchange="ChangeStatusRE(@item.Id,@item.IdUser)" id="status_@item.Id" required>
                                    <option value=""></option>
                                    <option selected="@item.SelectedStatus(20)" value="20">Duyệt</option>
                                    <option selected="@item.SelectedStatus(15)" value="15">Chưa duyệt</option>
                                    <option selected="@item.SelectedStatus(30)" value="30">Khóa</option>
                                </select>
                            }

                        </td>
                    </tr>
                    <tr class="modal-divider"></tr>
                }
            }

        </tbody>
    </table>
</div>

@if (Model != null && Model.realEstateDtos.Count > 0 && Model.realEstateDtos.FirstOrDefault().Total > 0)
{
    <div class="row">
        <div class="pagintion-table mt-30">
            <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
                <p class="mb-sm-0">
                    Hiển thị từ
                    <span>@FromIndex</span>
                    đến
                    <span>@EndIndex</span>
                    của @Model.realEstateDtos.FirstOrDefault().Total bản ghi
                </p>
                <div class="pagination1">
                    <ul class="pagination text-center m-0">
                        <li class="page-item ">
                            <button class="page-link" onclick="SubmitSearchRE(@Model.PageSize.ToString(), '1',@Model.Param.Style)" aria-label="Previous">
                                <span><i class="fa-solid fa-arrow-left"></i></span>
                                <span class="sr-only">Previous</span>
                            </button>
                        </li>

                        @for (int i = 1; i <= totalPage; i++)
                        {
                            string active = "";
                            if (i == pageNumber) active = "active";
                            if (pageNumber <= 3 && i <= 5)
                            {
                                <li class="page-item "><button onclick="SubmitSearchRE(@Model.PageSize.ToString(), @i.ToString(),@Model.Param.Style)" class="page-link @active"> @i </button></li>

                            }
                            else if (pageNumber > 3 && i >= pageNumber - 2 && i <= pageNumber + 2)
                            {
                                <li class="page-item "><button onclick="SubmitSearchRE(@Model.PageSize.ToString(), @i.ToString(),@Model.Param.Style)" class="page-link @active"> @i </button></li>

                            }

                        }
                        <li class="page-item ">
                            <button class="page-link" onclick="SubmitSearchRE(@Model.PageSize.ToString(), @totalPage.ToString(),@Model.Param.Style)" tabindex="-1" aria-label="Next">
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                                <span class="sr-only">Next</span>
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
}

